<ui-main-content [title]="name()">

  <div class="flex items-center justify-between mb-3">
    <h3 class="text-base font-semibold">{{ 'technology.effect.title' | translate }}</h3>
    <button matButton (click)="openAddEffect()">
      <mat-icon>add</mat-icon>
      {{ 'technology.effect.add' | translate }}
    </button>
  </div>

  <mat-table [dataSource]="effects()">

    <ng-container matColumnDef="unitType">
      <mat-header-cell *matHeaderCellDef>{{ 'technology.effect.table.unitType' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ 'unit-definition.type.' + row.unitType | translate }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="unitLevel">
      <mat-header-cell *matHeaderCellDef>{{ 'technology.effect.table.unitLevel' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.unitLevel }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button matIconButton (click)="revokeEffect(row)" [matTooltip]="'action.delete' | translate">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="effectColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: effectColumns"></mat-row>

  </mat-table>

</ui-main-content>
