<ui-main-content [title]="'nation.title' | translate">

  <button matButton="filled" actions (click)="openCreate()">
    <mat-icon>add</mat-icon>
    {{ 'nation.create' | translate }}
  </button>

  <mat-table [dataSource]="items()">

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        @if (row.imageUrl) {
          <img [src]="row.imageUrl" [alt]="row.name" class="w-10 h-10 rounded object-cover">
        }
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>{{ 'nation.table.name' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>{{ 'nation.table.description' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="effects">
      <mat-header-cell *matHeaderCellDef>{{ 'nation.effect.title' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.effect.length }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button matIconButton [routerLink]="[row.id]" [matTooltip]="'action.detail' | translate"><mat-icon>settings</mat-icon></button>
        <button matIconButton [matTooltip]="'action.edit' | translate" (click)="openEdit(row)"><mat-icon>edit</mat-icon></button>
        <button matIconButton [matTooltip]="'action.delete' | translate" (click)="delete(row)"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"></mat-row>

  </mat-table>

  <mat-paginator footer [length]="totalSize()" [pageSize]="20" [pageSizeOptions]="[10,20,50]" (page)="handlePageChange($event)"></mat-paginator>

</ui-main-content>
