<h2 mat-dialog-title>{{ (game ? 'game.dialog.edit.title' : 'game.dialog.create.title') | translate }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="flex flex-col gap-4 pt-2">
    <mat-form-field>
      <mat-label>{{ 'game.form.name' | translate }}</mat-label>
      <input matInput formControlName="name"/>
      @if (form.controls.name.hasError('required')) {
        <mat-error>{{ 'game.form.error.name' | translate }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'game.form.description' | translate }}</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
      @if (form.controls.description.hasError('required')) {
        <mat-error>{{ 'game.form.error.description' | translate }}</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button matButton mat-dialog-close>{{ 'action.cancel' | translate }}</button>
  <button matButton="filled" (click)="submit()" [disabled]="form.invalid">{{ 'action.save' | translate }}</button>
</mat-dialog-actions>
